@model IEnumerable<MultipleAuthentication.DatabaseContext.NewsItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h1>@Model.First().Section.NewsLetter.Tenant.TenantName</h1>
    
    @foreach (var item in Model.GroupBy(car => car.Section.NewsLetter).Select(g => g.First()).ToList())
    {
        <h2>@item.Section.NewsLetter.Name</h2>
        foreach (var sectionItem in Model.Where(entity => entity.Section.NewsLetterID == item.Section.NewsLetterID).GroupBy(car => car.Section).Select(g => g.First()).ToList())
        {
            <ul id="accordion">
                
                   
                
                <li>
                    <div class="section-name">@sectionItem.Section.SectionName</div>
                    @foreach (var newsItem in Model.Select(x => x).Where(entity => entity.SectionID == sectionItem.SectionID))
                    {


                        <ul class="news-item-list-container">
                            <li>
                                Name :  @newsItem.NewsItemName
                            </li>
                            <li>
                                Description :   @newsItem.NewsItemDescription
                            </li>
                            <li>
                                Reference Links :   <a href="@newsItem.ActualLink">@newsItem.ActualLink</a>
                            </li>
                        </ul>

                    }
                </li>
         </ul>
        }


    }
</body>
</html>
